{% extends 'auth/_layout.html.twig' %}
{% block title %}Nouveau mot de passe — Le 21{% endblock %}

{% block auth_content %}
  <div class="form-wrap">
    {{ form_start(resetForm) }}
      <div class="form-row">
        {{ form_label(resetForm.plainPassword, 'Nouveau mot de passe', {'label_attr': {'class':'label'}}) }}
        {{ form_widget(resetForm.plainPassword, {'attr': {'class':'input'}}) }}
        {{ form_errors(resetForm.plainPassword) }}
      </div>

      <div class="form-row" style="display:flex; gap:10px; justify-content:flex-end">
        <button class="btn btn-primary">Valider</button>
      </div>
    {{ form_end(resetForm) }}
  </div>
{% endblock %}
